@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

$font-stack: Lato, sans-serif;

$primary-red: #CA0202;
$secondary-red: #AA2827;
$tertiary-red: #340000;

$primary-blue: #94A7BF;
$secondary-blue: #283966;
$tertiary-blue: #11182A;

$font-color: #F0EFEF;

