@use 'config';
@use 'keyframes';
@import "mixins";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__background {
  width: 100%;
  background-size: cover;
}

.logo__box {
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 70%;

  @include respond(tab-land) {
    top: 40%;
  }

  @include respond(tab-port) {
    top: 20%;
    left: 65%;
  }

  @include respond(phone) {
    top: 15%;
    left: 60%;
  }
}

.logo {
  height: 10rem;

  @include respond(tab-land) {
    height: 10rem;
  }

  @include respond(phone) {
    height: 6.5rem;
  }
}
