@use 'config';
@import "mixins";

.scroll__down {
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(15rem);

  //   @include respond(tab-land) {
  //     transform: translateY(20rem);
  //   }

  @include respond(tab-port) {
    transform: translateY(12rem);
  }

  @include respond(phone) {
    transform: translateY(5rem);
    height: 1rem;
  }

  a {
    padding-top: 4rem;
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color: config.$font-color;

    @include respond(phone) {
      font-size: 35%;
    }
  }

  span {
    position: absolute;
    top: 0;
    left: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: -0.8rem;
    border-left: 0.1rem solid config.$font-color;
    border-bottom: 0.1rem solid config.$font-color;

    box-sizing: border-box;
    opacity: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -webkit-animation: scrolldown 1.5s infinite;
    animation: scrolldown 1.5s infinite;

    @include respond(phone) {
      height: 1rem;
      width: 1rem;
      left: 60%;
    }

    &:nth-child(1) {
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }

    &:nth-child(2) {
      top: 1rem;
      -webkit-animation-delay: 0.15s;
      animation-delay: 0.15s;
    }

    &:nth-child(3) {
      top: 2rem;
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
  }
}
