@use 'config';
@use 'utilities';
@import "mixins";

.section__about {
  display: flex;
  justify-content: space-between;
  background-color: config.$tertiary-blue;
  height: 100vh;

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
}

.heading__about {
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(config.$primary-blue, config.$font-color);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;

  &:hover {
    color: config.$secondary-red;
  }
}

.content__about {
  @extend %centered-box;
  padding: 0 1rem;
}

.paragraph__about {
  margin: 1rem auto;
  padding: 0 8rem;
  text-align: justify;

  @include respond(tab-port) {
    text-align: center;
  }

  @include respond(phone) {
    padding: 0 3rem;
  }
}

.section__about--spider {
  display: flex;
  align-items: center;

  @include respond(tab-port) {
    display: none;
    img {
      height: 25rem;
    }
  }

  @include respond(phone) {
    display: none;
  }
}

.section__about--spider-mobile {
  display: none;

  @include respond(phone) {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;

    img {
      height: 30rem;
    }
  }

  @include respond(tab-port) {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;

    img {
      height: 30rem;
    }
  }
}
