@use 'config';
@use 'utilities';
@import "mixins";

.section__game {
  background-color: config.$tertiary-blue;
  height: 100vh;
  clip-path: polygon(100% 0%, 100% 85%, 0% 100%, 0% 0%);

  @include respond(tab-land) {
    height: auto;
    clip-path: polygon(100% 0%, 100% 87%, 0% 100%, 0% 0%);
  }

  @include respond(tab-port) {
    height: 120vh;

    clip-path: polygon(100% 0%, 100% 95%, 0% 100%, 0% 0%);
  }

  @include respond(phone) {
    clip-path: polygon(100% 0%, 100% 98%, 0% 100%, 0% 0%);
  }
}

.section__game--title {
  margin: 1.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 600;
  font-size: 2rem;
  padding: 1.5rem;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.02);
    color: config.$secondary-red;
  }
}

.game__content {
  @extend %centered-box;
}

.game__cards {
  padding: 2rem;
  display: grid;
  grid-gap: 0.6rem;
  grid-template-columns: repeat(3, 1fr);
  color: config.$font-color;

  @include respond(tab-port) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 1rem 4rem;
  }

  @include respond(phone) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 1rem 4rem;

    p {
      margin: 0 auto;
    }
  }

  .card {
    @extend %centered-box;

    h2 {
      margin-top: 1rem;
      text-align: center;
    }

    p {
      padding: 1rem 4rem;
      text-align: center;
    }
  }

  .card-image {
    border-radius: 0.2rem;
    height: 10rem;
    box-shadow: 0.2rem 0.5rem 2rem rgba(175, 165, 165, 0.171);
    transition: all 0.2s;

    &:hover {
      transform: scale(1.07);
    }

    @include respond(tab-port) {
      height: 25rem;
    }

    @include respond(phone) {
      height: 15rem;
    }
  }
}
